.cart-container {
  display: flex;
  text-align: center;
}

.cart-container .cart-total {
  flex: 1;
}

.cart-items {
  flex: 1.5
}

.cart-message {
  text-align: center;
}

h3 {
  text-align: center;
}