#splash-image {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

#splash-image img {
  width: 100vw;
}

.loader-splash {
  position: relative;
  left: 50%;
  top: 30%;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #26ad5e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}