nav {
  width: 100vw;
  display: block;
  position: fixed;
  margin-bottom: 20px;
  top: 0;
  font-weight: 400;
  background: #fcfaf6;
  z-index: 2;
}

nav a {
  color: #353535;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.2em;
}


nav a:hover {
  text-decoration: underline;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul:first-child {
  padding-top: 10px;
  background: white;
  font-size: 50px;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  color: #6969694A;
  letter-spacing: 0.4em;
  border-bottom: 1px solid rgb(223, 223, 223);
}

nav ul:nth-child(2) {
  padding: 10px;
  background: #fff9ee;
  box-shadow: 20px 7px 8px -12px #333;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

img {
  width: 14px;
  display: inline-block;
  margin-right: 5px;
}