nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
  color: #353535;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}