nav {
  margin-bottom: 20px;
  font-weight: 400;
}

nav a {
  color: #353535;
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

img {
  width: 14px;
  display: inline-block;
}