.products-grid > div {
  width: 100%;
  background: white;
  border: 1px solid rgb(211, 211, 211);
  padding: 0 5% 5% 5%;
  text-align: center;
}

.products-grid > div img {
  width: 176px;
  margin: 7% auto;
  display: block;
}